@use "./partials/mixins" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
}

.nav{
  height: 8rem;
  padding: 1.5rem;
  background-color: $primary-color;
  display: flex;
  justify-content: center;
  align-items: center;
  &__icon{
    max-width: 15%;
    height: auto;
  }
}

.info{
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__image{
    width: 50vw;
    height: auto;
  
  }
}